@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100;
  src: url('fonts/RobotoMono/RobotoMono-Thin.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 100;
  src: url('fonts/RobotoMono/RobotoMono-ThinItalic.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 200;
  src: url('fonts/RobotoMono/RobotoMono-Light.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 200;
  src: url('fonts/RobotoMono/RobotoMono-LightItalic.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url('fonts/RobotoMono/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 400;
  src: url('fonts/RobotoMono/RobotoMono-Italic.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  src: url('fonts/RobotoMono/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: normal;
  src: url('fonts/RobotoMono/RobotoMono-Italic.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: url('fonts/RobotoMono/RobotoMono-Medium.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 500;
  src: url('fonts/RobotoMono/RobotoMono-MediumItalic.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: url('fonts/RobotoMono/RobotoMono-Bold.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 700;
  src: url('fonts/RobotoMono/RobotoMono-BoldItalic.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: bold;
  src: url('fonts/RobotoMono/RobotoMono-Bold.ttf');
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: bold;
  src: url('fonts/RobotoMono/RobotoMono-BoldItalic.ttf');
}
